<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support BugStack</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <style type="text/css">
        body {
            margin: 0;
            background-color: #dedede;
            font-family: "Roboto", sans-serif;
        }

        table {
            border-spacing: 0;
        }

        td {
            padding: 0;
        }

        img {
            border: 0;
        }
    </style>
</head>

<body>
    <center class="wrapper" style="width: 100%; table-layout: fixed; background-color: #dedede;">
        <table class="main" width="100%"
            style="background-color: #fff; margin: 0 auto; max-width: 600px; border-spacing: 0; color: #272727;">
            <tr>
                <td>
                    <table width="100%" style="background-color: #272727;">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <a href="#"><img src="cid:Logo" alt="BugStack Logo" width="180"
                                                    title="BugStack Logo" style="padding: 10px;"></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="image-container"
                                    style="position: relative; text-align: center; color: white;">
                                    <a href="#"><img src="cid:Fondo-Bugstack" alt="" width="600" height="250"
                                            style="max-width: 100%;"></a>
                                    <div class="centered-text"
                                        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 30px; font-weight: bold;">
                                        Saludos, habitante de BugStack!
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <!-- Aquí va el contenido del correo principal -->
            <tr>
                <td style="padding: 10px 20px; text-align: center;">
                    <p>Hola, ${nameUser}:</p>
                    <p>Recibimos una solicitud para restablecer tu contraseña de BugStack. Ingresa el siguiente código
                        para restablecer la contraseña:</p>
                    <div
                        style="background-color: #f7f7f7; border-radius: 5px; padding: 10px; text-align: center; display: inline-block; width: auto; margin: 10px 0;">
                        <p style="font-size: 24px; font-weight: bold; margin: 0;">${code}</p>
                    </div>
                    <p style="font-size: 14px; color: #333; margin: 10px 0;">También puedes cambiar la contraseña
                        directamente.</p>
                    <a href="#"
                        style="background-color: #30475E; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-size: 14px; display: block; width: calc(100% - 40px); margin: 0 auto;">
                        Cambiar contraseña
                    </a>
                    <p style="font-size: 12px; color: #666; margin-top: 10px;">¿No solicitaste este cambio?</p>
                    <p style="font-size: 12px; color: #666;">Si no solicitaste una nueva contraseña, <a href="#"
                            style="color: #1877f2;">Avísanos</a>.</p>
                </td>
            </tr>

            <!-- Footer -->
            <tr>
                <td style="padding: 20px; background-color: #f1f1f1; text-align: center;">
                    <p style="font-size: 12px; color: #999999; text-align: center; line-height: 1.5;">from</p>
                    <img src="cid:LogoBlack" alt="BugStack Logo" width="100" title="BugStack Logo">
                    <p style="font-size: 12px; color: #999999; text-align: center; line-height: 1.5;">
                        © BugStack., Attention: Community Support,<br>
                        A fin de proteger tu cuenta, no reenvíes este correo electrónico. <a href="#"
                            style="color: #1877f2;">Más información</a>.
                    </p>
                </td>
            </tr>
        </table>
    </center>
</body>

</html>